@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, #fc4a1a, #f7b733);
  font-family: 'Montserrat', sans-serif;
}

.music-player {
  width: 350px;
  height: 550px;
  border-radius: 20px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.2));
  box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
  padding: 30px;
  overflow: hidden;
  color: #fff;
}

.desc-album, .album-name {
  text-align: center;
  font-size: .7rem;
  letter-spacing: 2px;
}

.desc-album {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.album-name {
  font-weight: 700;
}

.music-name, .artist-name, .album-name {
  text-transform: capitalize;
}

.music-name {
  font-size: 1.3rem;
  font-weight: 700;
}

.artist-name {
  font-size: .9rem;
}

.disk {
  margin: 40px auto;
  width: 180px;
  height: 180px;
  background-image: url();
  background-size: cover;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.08);
  animation: pulse 2s linear infinite;
  animation-play-state: paused;
}

.disk.play {
  animation-play-state: running;
}

/* .disk::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
} */

/* @keyframes rotate {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
} */

.song-slider {
  width: 100%;
  position: relative;
}

.seek-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  box-shadow: -400px 0 0 400px #fff;
}

.current-time, .song-duration {
  font-size: 14px;
}

.song-duration {
  position: absolute;
  right: 0;
}

.controls {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.play-btn {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: none;
  transition: 1s;
}

.play-btn span {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  width: 10px;
  height: 30px;
  border-radius: 2px;
  background-image: linear-gradient(180deg, #fc4a1a, #f7b733);
  transition: .5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn span:last-child {
  left: 55%;
  transform-origin: center;
}

.play-btn.pause span:first-child {
  transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:last-child {
  width: 35%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause {
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0% { box-shadow: 0; }
  50% { box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1); }
  100% { box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4); }
}

.btn {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: #fff;
  background: transparent;
  transition: 1s;
}

.btn span {
  display: flex;
}

.btn svg {
  width: 20px;
}

.play-btn:hover, .btn:hover {
  transform: scale(1.2);
}